<div>
{{!-- Info from Spotify --}}
<h1>{{albumInfo.albumTitle}}</h1>
  <img  src="{{albumInfo.albumArtMedium}}" alt="{{albumInfo.albumTitle}}" id="albumart">
</div>
{{!-- Info from reviews_db  --}}
{{#each reviews as |review|}}
  <div id="rating-box">
      <span id="user">รง{{review.user.username}}</span>
      <span id="album-rating">{{review.score}}</span>
  </div>
<div>
  <span id="album-review">Album Review</span>
  <p>{{review.review}}</p>
</div>
{{/each}}
