<link rel="stylesheet" href="../css/albumreviews.css" />
<div>
  {{! Info from Spotify }}
  <h1>{{albumInfo.albumTitle}}</h1>
  <img
    src="{{albumInfo.albumArtMedium}}"
    alt="{{albumInfo.albumTitle}}"
    id="albumart"
  />
</div>
{{! Info from reviews_db  }}
{{#each reviews as |review|}}
  <div id="rating-box">
    <span id="user">{{review.user.username}}</span>
    <span id="album-rating">{{review.score}}</span>
  </div>
  <div>
    <span id="album-review">Album Review</span>
    <p>{{review.review}}</p>
  </div>
{{/each}}
{{! review form goes here }}
<section>
  <h2>Leave your own review!</h2>
  <div class="container">
    <form>
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="fname"
            name="firstname"
            placeholder="Your name.."
          />
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-75">
          <input
            type="text"
            id="lname"
            name="lastname"
            placeholder="Your last name.."
          />
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Subject</label>
        </div>
        <div class="col-75">
          <textarea
            id="subject"
            name="subject"
            placeholder="Write your review here..."
            style="height:200px"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</section>